.dashboard-main {
  display: grid;
  grid-template-areas: "nav nav" "sidePanel dashContent";
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 1fr;
  background: linear-gradient(
    116.82deg,
    #5b83f6 0%,
    #4e94d4 49.48%,
    #63ceeb 100%
  );
}

/* content  */
.dashboard-content {
  grid-area: dashContent;
}
